.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f38942;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  